*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --tarefa: #9EC5E2;
    --fundo2: #C8A4E9;
    --modo-editar: #F6C0F8;
    --botao: #8F5FBC;
    --branco: #F4F4ED;
    --titulos: 'Lakki Reddy', serif;
    --textos: 'Inter', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 16vh 1fr;
    background-color: var(--fundo2);
    margin: 10px;
    overflow: hidden;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
}

.perfil{
    font-family: var(--textos);
    display: flex;
    align-items: center;
}
.perfil img{
    height: 60%;
}
.logo{
    height: 100%;
}


main{
    padding: 2vh 3vw;
}


.tarefas-pendentes{
    width: 100%;
    font-family: var(--textos);
}
.tarefas{
    padding: 16px;
    width: 100%;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}


.tarefa{
    width: 20vw;
    height: 8vh;
    display: flex;
    background-color: var(--branco);
    overflow: hidden;
    border-radius: 10px;
    border: solid black 2px;
    font-size: 1.1rem;
}
.icone-e-cor{
    width: 20%;
    background-color: var(--tarefa);
    padding: 12px;
    display: grid;
    place-content: center;
    border: none;
    border-right: solid black 1px;
    transition: 0.3s;
}
.icone-e-cor:hover{
    background-color: #539ed8;
}
.icone-e-cor img{
    height: 4vh;
    transition: 1s;
}
.info-tarefa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
}
.icone-e-cor.edit-mode{
    background-color: var(--modo-editar);
}

.add-tarefa{
    font-size: 1.2rem;
    color: black;
    background-color: var(--modo-editar);
    padding: 12px;
    height: 60%;
    border: solid 2px black;
    border-radius: 12px;
    font-family: var(--textos);
    display: grid;
    place-content: center;
}

input{
    font-family: var(--textos);
    padding: 4px;
    background: white;
    border: none;
    border-bottom: solid 1px black;
}
input:hover{
    color: rgb(45, 92, 180);
}