*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --tarefa: #9EC5E2;
    --fundo2: #C8A4E9;
    --modo-editar: #F6C0F8;
    --botao: #8F5FBC;
    --branco: #F4F4ED;
    --titulos: 'Lakki Reddy', serif;
    --textos: 'Inter', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 16vh 1fr;
    background-color: var(--fundo2);
    margin: 10px;
    overflow: hidden;
}

header{
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 32px;
}
.logo{
    height: 100%;
}


main{
    padding: 2vh 3vw;
}


.tarefas-pendentes{
    width: 100%;
    font-family: var(--textos);
}
.tarefas{
    padding: 16px;
    width: 100%;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}


.tarefa{
    width: 20vw;
    height: 8vh;
    display: flex;
    background-color: var(--branco);
    overflow: hidden;
    border-radius: 10px;
    border: solid black 2px;
    font-size: 1.1rem;
}
.icone-e-cor{
    width: 20%;
    background-color: var(--tarefa);
    padding: 12px;
    display: grid;
    place-content: center;
    border-right: solid black 1px;
}
.icone-e-cor img{
    height: 4vh;
    transition: 1s;
}
.info-tarefa{
    display: flex;
    flex-direction: column;
    padding: 12px;
}
.icone-e-cor.edit-mode{
    background-color:     var(--modo-editar);

}